* {
    padding: 0px;
    margin: 0px;
    border: 1px solid red;
}

button.create-account {
    color: #ffffff;
    background-color: #6c924b;
    font-size: 19px;
    border: 0px solid #ffffff;
    border-radius: 16px;
    padding: 15px 50px;
    cursor: pointer
}
button.create-account:hover {
    color: #6c924b;
    background-color: #fdfdfd;
}